[submodule "shut-the-box-client/Packages/gs.revel.library"]
	path = shut-the-box-client/Packages/gs.revel.library
	url = git@github.com:Revel-Games/RevelLibrary.git
[submodule "shut-the-box-client/Packages/com.alicanhasirci.texttween"]
	path = shut-the-box-client/Packages/com.alicanhasirci.texttween
	url = git@github.com:AlicanHasirci/TextTween.git
